 @model CreateChefDto

@{
    ViewData["Title"] = "CreateChef";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yeni Şef Ekleme</h4>
                <p class="card-subtitle mb-4">Şefler bölümünün ekleme işlemini buradan gerçekleştirebilirsiniz.</p>

                <form method="post">
                    <div class="form-group">
                        <label>Adı ve Soyadı</label>
                        <input type="text" class="form-control" asp-for="NameSurname">
                    </div>
                    <div class="form-group">
                        <label>Pozisyon</label>
                        <input type="text" class="form-control" asp-for="Title">
                    </div>
                    <div class="form-group">
                        <label>Resim Url</label>
                        <input type="text" class="form-control" asp-for="ImageUrl">
                    </div>                    
                    <button type="submit" class="btn btn-primary waves-effect waves-light">
                        <i class="bi bi-plus-circle me-1"></i> Ekle
                    </button>
                    <a href="/Chef/Index" class="btn btn-dark">
                        <i class="bi bi-arrow-left-circle me-1"></i> Geri
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
